{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
                <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
            <div class="card-body">
                <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#tab-general" data-bs-toggle="tab">{{ tab_general }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-widget" data-bs-toggle="tab">{{ tab_widget }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row mb-3 required">
                                <label class="col-sm-2 col-form-label" for="input-code">{{ entry_code }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="analytics_skroutz_code" value="{{ analytics_skroutz_code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control"/>
                                    <div id="error-code" class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-switch form-switch-lg">
                                        <input type="hidden" name="analytics_skroutz_status" value="0">
                                        <input type="checkbox" name="analytics_skroutz_status" value="1" id="input-status" class="form-check-input" {% if analytics_skroutz_status %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-widget">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="input-widget-status">{{ entry_widget_status }}</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-switch form-switch-lg">
                                        <input type="hidden" name="analytics_skroutz_widget_status" value="0">
                                        <input type="checkbox" name="analytics_skroutz_widget_status" value="1" id="input-status" class="form-check-input" {% if analytics_skrout_widget_status %} checked {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="input-widget-type">{{ entry_widget_type }}</label>
                                <div class="col-sm-10">
                                    <select name="analytics_skroutz_widget_type" id="input-widget-type" class="form-select">
                                        <option value="inline" {% if analytics_skroutz_widget == 'inline' %} selected {% endif %}>{{ text_inline }}</option>
                                        <option value="extended" {% if analytics_skroutz_widget == 'extended' %} selected {% endif %}>{{ text_extended }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="input-replace-html">{{ entry_replace_html }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="analytics_skroutz_replace_html" value="{{ analytics_skroutz_replace_html }}" placeholder="{{ entry_replace_html }}" id="input-replace-html" class="form-control"/>
                                    <div class="form-text text-muted">{{ help_replace_html }}</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="input-replace-position">{{ entry_replace_position }} </label>
                                <div class="col-sm-10">
                                    <select name="analytics_skroutz_replace_position" id="input-replace-position" class="form-select">
                                        <option value="after" {% if analytics_skroutz_replace_position == 'after' %} selected {% endif %}>{{ text_after }}</option>
                                        <option value="before" {% if analytics_skroutz_replace_position == 'before' %} selected {% endif %}>{{ text_before }}</option>
                                    </select>
                                    <div class="form-text text-muted">{{ help_replace_position }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }} 